*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* tipografia */

h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Roboto', sans-serif;
}

h1{
    color:red;
}

/* struttura */

body{
    background-color: #000;
    color:#fff;
}

header{
    height:70px;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    background-color: #000;
}

#ricerca.active, #ricerca.active:focus{
    display: flex;
    align-items: center;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    -webkit-transition:1s;
}

input#query{
    width:0px;
    background: transparent;
    border: none;
    color:#fff;
    font-family: 'Roboto', sans-serif;
}

input#query.active, input#query.active:focus{
    margin-left: 5px;
    width:200px;
    outline: none;
    color:#fff;
    -webkit-transition:1s;
    font-family: 'Roboto', sans-serif;
}

i#cerca{
    font-size:20px;
}

section{
    padding: 20px;
    overflow-y: hidden;
    margin-bottom:50px;
}

section#mostra-query{
    margin-bottom:0;
    margin-top:70px;
    font-size: 20px;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

.lista{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    margin-top:50px;
}

.risultato{
    position: relative;
    margin-right:5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    padding:20px;
}

.risultato:hover .overlay {
  opacity: 0.75;
}

.risultato span{
    display:block;
}

.lingua img{
    width:20px;
}
